.custom-seo-block {
    padding: 44px 30px;
    text-align: left;
}

.custom-seo-text {
    line-height: 24px;
}

.custom-seo-text h1 {
    padding-bottom: 32px;
}

.custom-seo-text h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.custom-seo-text ul li {
    list-style: disc;
    margin-left: 40px;
    position: relative;
    margin-top: 5px;
}

.custom-seo-text ol li {
    list-style: decimal;
    margin-left: 40px;
    position: relative;
    margin-top: 5px;
}

.game-iframe {
    width: 100%;
    height: 91%;
    border: none;
}

.custom_link {
    text-decoration: none;
    color: #fff !important;
}

.custom_link:hover {
    text-decoration: none;
    color: #fff;
}
