.tournament--major .tournament-timer.base-timer[data-v-1fb8a851], .tournament--major .tournament-timer.base-timer[data-v-1fb8a851] .base-timer__value, .tournament--major .tournament-timer[data-v-1fb8a851] { color: rgb(255, 255, 255); }
@media screen and (max-width: 460px) {
  .tournament-timer[data-v-1fb8a851] { font-size: 1.5rem; }
}
.tournament-timer-wrap[data-v-1fb8a851] { display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; margin-bottom: 17px; line-height: 1.1; text-align: center; margin-left: -5px; margin-right: -5px; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.tournament-timer[data-v-1fb8a851], .tournament-timer__title[data-v-1fb8a851] { padding-left: 5px; padding-right: 5px; }
.tournament-timer[data-v-1fb8a851] { font-size: 28px; min-width: 4.42857em; text-align: center; line-height: 42px; }
.tournament-timer[data-v-1fb8a851] .base-timer__value { font-family: Prompt, "Arial Black", Gadget, BlinkMacSystemFont, "“Segoe UI”", Roboto, "“Helvetica Neue”", Arial, Helvetica, Tahoma, Verdana, Geneva, sans-serif; font-weight: 800; }
@media screen and (max-width: 1023px) {
  .tournament-timer[data-v-1fb8a851] { font-size: 20px; line-height: 30px; }
}
@media screen and (max-width: 1023px) {
  .promo-container .tournament-timer-wrap[data-v-1fb8a851] { flex-wrap: wrap; }
}
.tournament-timer__icon[data-v-1fb8a851] { margin: -2px 2px -2px 0px; width: 16px; height: 16px; vertical-align: middle; fill: currentcolor; display: none; }
.tournament-timer__title[data-v-1fb8a851] { display: block; color: rgb(30, 48, 48); font-size: 12px; font-weight: 400; padding-top: 4px; padding-bottom: 4px; }
@media screen and (max-width: 460px) {
  .tournament-timer__title[data-v-1fb8a851] { margin-right: 5px; }
}
.tournament-conditions[data-v-154da6f3] { display: flex; -webkit-box-pack: justify; justify-content: space-between; padding: 0px; margin: 0px -7px 16px; list-style: none; }
.tournament-conditions__item[data-v-154da6f3] { display: flex; flex-basis: 33.3333%; margin: 0px 7px; min-height: 56px; box-sizing: border-box; }
.tournament-conditions__top[data-v-154da6f3], .tournament-conditions__value[data-v-154da6f3] { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; border-radius: 4px; }
.tournament-conditions__top[data-v-154da6f3] { padding: 5px; min-height: 76px; background-color: rgb(14, 133, 138); box-sizing: border-box; }
.tournament-conditions__icon-wrap[data-v-154da6f3] { margin-top: 2px; margin-bottom: 4px; text-align: center; }
.tournament-conditions__icon[data-v-154da6f3] { max-height: 32px; max-width: 30px; fill: rgb(182, 229, 221); vertical-align: middle; }
.tournament-conditions__title[data-v-154da6f3] { display: block; font-weight: 400; font-size: 14px; text-align: center; color: rgb(182, 229, 221); text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
@media screen and (max-width: 1280px) {
  .tournament-conditions__title[data-v-154da6f3] { font-size: 0.75rem; }
}
.tournament-conditions__value[data-v-154da6f3] { -webkit-box-flex: 1; flex-grow: 1; text-align: center; padding: 7px 5px 5px; background-color: rgb(255, 255, 255); border: 2px solid rgb(14, 133, 138); min-height: 76px; }
@media screen and (max-width: 1280px) {
  .tournament-conditions__value[data-v-154da6f3] { padding: 13px 5px 12px; }
}
.tournament--major .tournament-conditions__value[data-v-154da6f3] { border: 0px; }
.tournament-conditions__value-text[data-v-154da6f3] { display: block; font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "“Segoe UI”", Roboto, "“Helvetica Neue”", Arial, sans-serif; font-size: 1.75rem; font-weight: 800; line-height: 1; text-align: center; color: rgb(30, 55, 50); }
@media screen and (max-width: 1280px) {
  .tournament-conditions__value-text[data-v-154da6f3] { font-size: 1.625rem; }
}
@media screen and (max-width: 768px) {
  .tournament-conditions__value-text[data-v-154da6f3] { font-size: 1.25rem; }
}
.tournament-conditions--vertical .tournament-conditions__item[data-v-154da6f3] { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.tournament-conditions--vertical .tournament-conditions__top[data-v-154da6f3] { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }
.tournament-conditions--vertical .tournament-conditions__value[data-v-154da6f3] { border-top-width: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; }
@media screen and (min-width: 1024px) {
  .tournament-conditions--horizontal[data-v-154da6f3] { margin-left: -15px; margin-right: -15px; }
  .tournament-conditions--horizontal .tournament-conditions__item[data-v-154da6f3] { display: flex; margin-left: 15px; margin-right: 15px; }
  .tournament-conditions--horizontal .tournament-conditions__top[data-v-154da6f3], .tournament-conditions--horizontal .tournament-conditions__value[data-v-154da6f3] { min-height: 0px; }
  .tournament-conditions--horizontal .tournament-conditions__top[data-v-154da6f3] { border-top-right-radius: 0px; border-bottom-right-radius: 0px; flex-basis: 50%; }
  .tournament-conditions--horizontal .tournament-conditions__value[data-v-154da6f3] { border-left-width: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
  .tournament--default:not(.tournament--major) .tournament-conditions--horizontal .tournament-conditions__value[data-v-154da6f3] { border: 2px solid rgb(14, 133, 138); }
  .tournament-conditions--horizontal .tournament-conditions__icon-wrap[data-v-154da6f3] { margin: 2px auto; }
  .tournament-conditions--horizontal .tournament-conditions__icon[data-v-154da6f3] { max-height: 25px; max-width: 23px; vertical-align: top; }
  .tournament-conditions--horizontal .tournament-conditions__value-text[data-v-154da6f3] { font-size: 1.25rem; }
  .tournament-conditions--horizontal .tournament-conditions__title[data-v-154da6f3] { font-size: 12px; font-weight: 400; }
}
@media screen and (max-width: 1023px) {
  .tournament-conditions--horizontal .tournament-conditions__top[data-v-154da6f3] { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }
  .tournament-conditions--horizontal .tournament-conditions__value[data-v-154da6f3] { border-top-width: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; }
  .tournament-conditions--horizontal .tournament-conditions__item[data-v-154da6f3] { -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
}
@media screen and (max-width: 1280px) and (min-width: 769px) {
  .tournament-conditions__top[data-v-154da6f3], .tournament-conditions__value[data-v-154da6f3] { min-height: auto; }
  .tournament-conditions--vertical .tournament-conditions__icon-wrap[data-v-154da6f3] { display: none; }
}
@media screen and (max-width: 1280px) {
  .tournament-conditions--vertical .tournament-conditions__top[data-v-154da6f3] { padding-top: 13px; padding-bottom: 13px; }
}
@media screen and (max-width: 1152px) {
  .tournament-conditions__top[data-v-154da6f3] { padding: 15px 8px 14px; }
}
@media screen and (max-width: 1023px) {
  .tournament-conditions[data-v-154da6f3] { margin-left: -4px; margin-right: -4px; }
  .tournament-conditions__item[data-v-154da6f3] { margin-left: 4px; margin-right: 4px; }
  .tournament-conditions .tournament-conditions__top[data-v-154da6f3] { padding: 9px 6px; min-height: auto; }
  .tournament-conditions__value[data-v-154da6f3] { min-height: 56px; }
  .tournament-conditions__icon-wrap[data-v-154da6f3] { margin-top: 2px; margin-bottom: 4px; }
  .tournament-conditions__icon[data-v-154da6f3] { max-height: 26px; max-width: 24px; vertical-align: top; }
}
@media screen and (max-width: 360px) {
  .tournament-conditions__title[data-v-154da6f3] { font-size: 0.75rem; }
}
.tournament-fund[data-v-e3d13d30] { display: flex; -webkit-box-align: center; align-items: center; margin-bottom: 0px; }
.tournament-fund__icon-wrap[data-v-e3d13d30] { padding-right: 16px; }
.tournament-fund__icon[data-v-e3d13d30] { max-width: 72px; height: 72px; width: auto; }
.tournament-fund__title[data-v-e3d13d30] { display: block; font-size: 12px; font-weight: 400; text-transform: none; color: rgb(129, 144, 146); }
.tournament-fund__sum-wrap[data-v-e3d13d30] { font-size: 36px; }
@media screen and (max-width: 768px) {
  .tournament-fund__sum-wrap[data-v-e3d13d30] { font-size: 30px; }
}
@media screen and (max-width: 460px) {
  .tournament-fund__sum-wrap[data-v-e3d13d30] { font-size: 24px; }
}
.tournament-fund__sum[data-v-e3d13d30] { display: block; font-size: 1em; line-height: 1; font-weight: 800 !important; }
.tournament--major .tournament-fund__sum[data-v-e3d13d30] { color: rgb(243, 254, 38); }
.tournament-fund_view_major .tournament-fund__title[data-v-e3d13d30] { color: rgb(153, 206, 196); }
.tournament-fund_view_promo .tournament-fund__title[data-v-e3d13d30] { color: rgb(153, 206, 196); margin-bottom: 9px; }
@media screen and (min-width: 769px) {
  .tournament-fund_view_promo .tournament-fund__title[data-v-e3d13d30] { font-weight: 400; font-size: 12px; }
}
.tournament-fund_view_game[data-v-e3d13d30] { -webkit-box-pack: center; justify-content: center; margin-top: 5px; }
.tournament-fund_view_game .tournament-fund__title[data-v-e3d13d30] { color: rgb(30, 55, 50); }
@media screen and (max-width: 1023px) {
  .tournament-fund_size_small[data-v-e3d13d30] { margin-bottom: 20px; }
}
.tournament-fund_size_small .tournament-fund__icon-wrap[data-v-e3d13d30] { padding-right: 13px; }
.tournament-fund_size_small .tournament-fund__icon[data-v-e3d13d30] { max-width: 46px; height: 46px; width: auto; vertical-align: top; margin-top: -3px; }
.tournament-fund_size_small .tournament-fund__title[data-v-e3d13d30] { margin-bottom: 5px; }
.tournament-fund_size_small .tournament-fund__sum-wrap[data-v-e3d13d30] { font-size: 32px; }
@media screen and (max-width: 1023px) {
  .tournament-fund_size_small .tournament-fund__sum-wrap_md[data-v-e3d13d30] { font-size: 28px; }
  .tournament-fund_size_small .tournament-fund__sum-wrap_sm[data-v-e3d13d30] { font-size: 24px; }
}
.tournament-fund_size_small .tournament-fund__sum[data-v-e3d13d30] { font-size: 1em; }
@media screen and (max-width: 359px) {
  .tournament-fund_size_small .tournament-fund__sum[data-v-e3d13d30] { font-size: 0.875em; }
}
.tournament-fund.big-race-fund .tournament-fund__sum[data-v-e3d13d30] { font-size: 20px !important; }
.tournament-fund.big-race-fund .tournament-fund__title[data-v-e3d13d30] { color: rgba(78, 77, 94, 0.5); font-size: 12px; }
.public-profile__tournament-winner-name { text-decoration: underline; color: rgb(81, 169, 91) !important; font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "“Segoe UI”", Roboto, "“Helvetica Neue”", Arial, sans-serif !important; }
@media (min-width: 798px) {
  .public-profile__tournament-winner-name { cursor: pointer; }
  .public-profile__tournament-winner-name:hover { opacity: 0.85; text-decoration: none; }
}
@media screen and (max-width: 1023px) {
  .tournament-item-wrap:first-child .tournament .tournament-crown { margin-top: 0px; }
}
.tournament .tournament-crown { fill: rgb(14, 133, 138); margin: 8px 0px 0px; width: 24px; height: 34px; }
@media screen and (min-width: 1024px) {
  .tournament--default .tournament-crown { display: block; }
}
.tournament div.crown-text { margin-bottom: 9px; }
.tournament .current-tournament .tournament-crown { fill: rgb(244, 66, 42); }
.tournament .current-tournament div.crown-text { color: rgb(244, 66, 42); }
.tournament--major .tournament__container { background: rgb(17, 79, 87); }
@media screen and (max-width: 1023px) {
  .tournament--major .tournament__container { }
}
.tournament--major .tournament__name { color: rgb(243, 241, 236); }
.tournament--major .tournament-timer__title, .tournament--major .tournament__status-winner-title { color: rgb(153, 206, 196) !important; }
.tournament--major .tournament__status-btn--join { color: rgb(153, 206, 196); }
.tournament-block[data-v-212d541f] { padding: 27px 24px; box-shadow: rgba(167, 167, 167, 0.5) 0px 4px 16px; border-radius: 4px; background: 50% 0px / cover no-repeat rgb(26, 40, 46); box-sizing: border-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-pack: justify; justify-content: space-between; height: 100%; }
@media screen and (max-width: 1280px) {
  .tournament-block[data-v-212d541f]::after, .tournament-block[data-v-212d541f]::before { content: ""; }
  .tournament-block[data-v-212d541f]::after { -webkit-box-ordinal-group: 100; order: 99; }
}
@media screen and (max-width: 1152px) {
  .tournament-block[data-v-212d541f] { padding: 15px; }
}
.tournament-block__prize[data-v-212d541f] .tournament-fund__sum { color: rgb(248, 255, 103); }
.tournament-block[data-v-212d541f] .tournament-conditions__value { border: 0px; }
.tournament-block > [data-v-212d541f] { margin-top: 2%; margin-bottom: 2%; }
.tournament-block > [data-v-212d541f]:first-child { margin-top: 0px; }
.tournament-block > [data-v-212d541f]:last-child { margin-bottom: 0px; }
@media screen and (max-width: 768px) {
  .tournament-block > [data-v-212d541f] { margin-top: 8px; margin-bottom: 8px; }
}
.tournament-block__head-top[data-v-212d541f] { display: flex; -webkit-box-align: center; align-items: center; }
@media screen and (max-width: 1023px) {
  .tournament-block__head-top[data-v-212d541f] { -webkit-box-pack: center; justify-content: center; }
}
.tournament-block__prize[data-v-212d541f] { padding-top: 22px; }
@media screen and (max-width: 768px) {
  .tournament-block__prize[data-v-212d541f] { padding-top: 12px; }
}
.tournament-block__game-image-wrap[data-v-212d541f] { margin-right: 7.72947%; border: 0px; border-radius: 4px; box-shadow: none; }
@media screen and (max-width: 768px) {
  .tournament-block__game-image-wrap[data-v-212d541f] { margin-right: 20px; }
}
.tournament-block__game-image[data-v-212d541f] { display: block; max-width: 104px; max-height: 120px; border-radius: 4px; cursor: pointer; }
@media screen and (max-width: 768px) {
  .tournament-block__game-image[data-v-212d541f] { max-width: 70px; max-height: 82px; }
}
.tournament-block__timer[data-v-212d541f] .tournament-timer__title { color: rgb(255, 251, 246); font-weight: 400; text-transform: none; font-size: 12px; }
.tournament-block__timer[data-v-212d541f] .base-timer__value { color: rgb(255, 255, 255) !important; }
.tournament-block__timer[data-v-212d541f] .base-timer__value.zero-value { color: rgb(17, 79, 87) !important; }
.tournament-block__conditions[data-v-212d541f] .tournament-conditions__top { background-color: rgb(39, 99, 99); }
.tournament-block__conditions[data-v-212d541f] .tournament-conditions__title { color: rgb(153, 206, 196); }
.tournament-block__conditions[data-v-212d541f] .tournament-conditions__icon { fill: rgb(153, 206, 196); }
.tournament-block__title[data-v-212d541f] { max-width: 270px; font-weight: 700; font-size: 24px; line-height: 1.20833; color: rgb(243, 241, 236); }
.tournament-block__button-wrap[data-v-212d541f] { text-align: center; }
.tournament-block__game-image-wrap[data-v-212d541f] { float: left; }
.tournament-block__head[data-v-212d541f] { padding-bottom: 10px; }
.tournament-block__head-inner[data-v-212d541f], .tournament-block__head-top[data-v-212d541f] { display: block; }
.tournament-block__title[data-v-212d541f] { max-width: none; text-align: inherit; }
.tournament-block__all-games-link[data-v-212d541f] { display: none; }
.tournament-block__button-wrap[data-v-212d541f] { -webkit-box-ordinal-group: 99; order: 98; margin-top: 4%; margin-bottom: 0px !important; }
.tournament-block__timer[data-v-212d541f] { display: block; }
.tournament-block__timer[data-v-212d541f] .tournament-timer__icon { display: none; }
.tournament-block__timer[data-v-212d541f] .tournament-timer__title { color: rgb(153, 206, 196); padding-top: 0px; padding-bottom: 10px; margin-left: 0px; margin-right: 0px; }
.tournament-block__timer[data-v-212d541f] .tournament-timer { font-size: 28px; line-height: inherit; }
.tournament-block__timer[data-v-212d541f] .tournament-timer .base-timer__value { font-family: Prompt, "Arial Black", Gadget, BlinkMacSystemFont, "“Segoe UI”", Roboto, "“Helvetica Neue”", Arial, Helvetica, Tahoma, Verdana, Geneva, sans-serif; font-weight: 800; }
@media screen and (max-width: 1023px) and (min-width: 769px) {
  .tournament-block__game-image[data-v-212d541f] { max-width: 80px; max-height: 90px; }
  .tournament-block__title[data-v-212d541f] { font-size: 21px; }
}
@media screen and (max-width: 768px) and (min-width: 461px) {
  .tournament-block__head[data-v-212d541f] { text-align: center; }
  .tournament-block__game-image-wrap[data-v-212d541f] { float: none; margin: 0px auto 10px; }
  .tournament-block__game-image[data-v-212d541f] { margin: 0px auto; }
  .tournament-block__prize[data-v-212d541f] { -webkit-box-pack: center; justify-content: center; padding-top: 16px; }
}
@media screen and (max-width: 768px) {
  .tournament-block > [data-v-212d541f] { margin-top: 11px; margin-bottom: 11px; }
  .tournament-block__button-wrap[data-v-212d541f] { margin-top: 22px; }
  .tournament-block__head[data-v-212d541f] { padding-bottom: 0px; }
  .tournament-block__title[data-v-212d541f] { font-size: 16px; min-height: 1.3125em; }
  .tournament-block__timer[data-v-212d541f] .tournament-timer__title { font-size: 10px; padding-bottom: 6px; }
  .tournament-block__timer[data-v-212d541f] .tournament-timer { font-size: 20px; }
}
.tournament-block__button[data-v-212d541f] { max-width: 438px; width: 100%; }
@media screen and (max-width: 460px) {
  .tournament-block__button[data-v-212d541f] { max-width: none; }
}
.tournament-block__button--active[data-v-212d541f] { min-width: auto; padding: 12px 15px; font-weight: 800; font-size: 0.75rem; letter-spacing: 0.05em; color: rgb(129, 144, 146); box-shadow: none; background: transparent; border-radius: 8px; text-shadow: none; border: 0px; box-sizing: border-box; }
.tournament-block__button--active[data-v-212d541f]::after, .tournament-block__button--active[data-v-212d541f]::before { content: none; }
.tournament-block__all-games-link[data-v-212d541f] { font-size: 16px; font-weight: 700; text-transform: none; }
@media screen and (max-width: 1023px) {
  .tournament-block__all-games-link[data-v-212d541f] { font-size: 14px; }
}
.race-type-big .tournament-block__prize[data-v-212d541f] .tournament-fund__sum { font-size: 38px; }
@media screen and (max-width: 1023px) {
  .race-type-big .tournament-block__prize[data-v-212d541f] .tournament-fund__sum { font-size: 26px; }
}
.tournament-block__game-image.big-race-promo-img[data-v-212d541f] { max-width: 131px; max-height: 107px; }
.tournament-item-wrapper { height: 100%; }
